# compiled python
*.pyc
# vim temporary files
*.swp
# generated matlab
*.mat
# log files
*.log
# IDE files
/.idea/
/.vscode/

# Build files
*/_build/
/pyburt.egg-info/
/build/
/dist/

# Pipenv cache
/.cache/

# Python backup files
*.pyc

# Testing files
/.pytest_cache/
/.coverage
/htmlcov/

# Virtualenvs
/venv*/
.venv/

# mypy cache
/.mypy_cache/

# other stuff
/claire_data/
