[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
flake8 = "*"
flake8-docstrings = "*"
black = "==19.3b0"
sphinx = "*"
mypy = "*"
flake8-isort = "*"

[packages]
cothread = ">=2.15"
numpy = "*"
pygelf = "*"
scipy = "*"
matplotlib = "*"
pytac = "*"
fa-archiver = "*"
